*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Be Vietnam Pro;
}

body {
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

nav {
    display: flex;
    gap: 2rem;
}

header a {
    color: black;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 1px;
    text-decoration-color: gray;
    transition: text-decoration-color 200ms, text-underline-offset 200ms;
}

header > div > img {
    width: 50px;
    height: auto;
}

.header-div {
    display: flex;
    gap: 1rem;
}

.header-over-picture {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 30rem;
    transform: translate(-50%, -50%);
}

main {
    font-family: none;
}

.main-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-article img {
    width: 50vw;
    height: 50rem;
    object-fit: cover;
}


.text {
    text-align: center;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    padding: .6rem;
}

svg {
    width: 2rem;
    height: auto;
    position: absolute;
    left: 50%;
    top: 54rem;
    transform: translate(-50%, -50%);
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    color: white;
    background-color: black;
    text-align: center;
    height: 13rem;
   place-items: center;
   padding: 3rem;
}


footer img {
    filter: invert(100%);
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-link {
    display: flex;
    gap: 1rem;
}